h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-align: center;
    padding-left: 50px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
time{
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:aliceblue;
    background-color: black;
}
